In [9]:
import pandas as pd
import matplotlib.pyplot as plt

In [43]:
funding = pd.read_excel("funding_overview.xlsx", sheet_name = 0, index_col=False)

pd.options.display.float_format = '{:.0f}'.format
print(funding)

                      Region               Operation_Country  OP budget (USD)  \
0             Africa Overall                           Total              NaN
1             Africa Overall  Central Africa and Great Lakes              NaN
2       Asia and the Pacific                           Total       1014984854
3       Asia and the Pacific                     Afghanistan        230310283
4       Asia and the Pacific         Australia MCO/Australia          5818004
..                       ...                             ...              ...
224  West and Central Africa              Senegal MCO/Guinea           250599
225  West and Central Africa             Senegal MCO/Overall              NaN
226  West and Central Africa             Senegal MCO/Senegal         17964259
227  West and Central Africa                Senegal MCO/Togo          5350416
228  West and Central Africa             West Africa Overall              NaN

     OL budget (USD)  Funds available  OP Gap/Surplus  OL Gap/Surplus
0                NaN            48551           48551           48551
1                NaN            48551           48551           48551
2          571982744        459981873      -555002981      -112000871
3          170701206        108155141      -122155142       -62546065
4            3864151            93897        -5724107        -3770254
..               ...              ...             ...             ...
224           230501            17503         -233096         -212998
225              NaN           149801          149801          149801
226          4030532          3219561       -14744698         -810971
227          5248817          3000000        -2350416        -2248817
228              NaN         49975805       -20783466        23169110

[229 rows x 7 columns]

In [44]:
funding.shape

(229, 7)

In [45]:
funding.describe()

,OP budget (USD),OL budget (USD),Funds available,OP Gap/Surplus,OL Gap/Surplus
count,180,179,208,229,227
mean,121296798,56787100,48532885,-51569183,-426685
std,314469672,148975830,180199790,244056205,157041673
min,250599,83479,0,-1615100800,-591549790
25%,5230987,3135300,238976,-34941529,-9580514
50%,19953378,9182000,2061029,-7307146,-2444994
75%,75804152,37560084,22490886,-1482752,3165
max,2441639007,1045115516,1560571191,1560571191,1560571191

In [34]:
print(type(funding))

<class 'pandas.core.frame.DataFrame'>

In [46]:
funding.head(5)

,Region,Operation_Country,OP budget (USD),OL budget (USD),Funds available,OP Gap/Surplus,OL Gap/Surplus
0,Africa Overall,Total,NaN,NaN,48551,48551,48551
1,Africa Overall,Central Africa and Great Lakes,NaN,NaN,48551,48551,48551
2,Asia and the Pacific,Total,1014984854,571982744,459981873,-555002981,-112000871
3,Asia and the Pacific,Afghanistan,230310283,170701206,108155141,-122155142,-62546065
4,Asia and the Pacific,Australia MCO/Australia,5818004,3864151,93897,-5724107,-3770254

In [49]:
print(funding[:1])

                 Region Operation_Country  OP budget (USD)  OL budget (USD)  \
2  Asia and the Pacific             Total       1014984854        571982744

   Funds available  OP Gap/Surplus  OL Gap/Surplus
2        459981873      -555002981      -112000871

In [47]:
column_headers = funding.columns.values.tolist()
print('The Column Header :', column_headers)

The Column Header : ['Region', 'Operation_Country', 'OP budget (USD)', 'OL budget (USD)', 'Funds available', 'OP Gap/Surplus', 'OL Gap/Surplus']

In [60]:
for x in funding.index:
    if funding.loc[x, "Region"] == "Africa Overall" :
        funding.drop(x, inplace= True)

In [59]:
print(funding)

                      Region        Operation_Country  OP budget (USD)  \
2       Asia and the Pacific                    Total       1014984854
3       Asia and the Pacific              Afghanistan        230310283
4       Asia and the Pacific  Australia MCO/Australia          5818004
5       Asia and the Pacific    Australia MCO/Overall              NaN
6       Asia and the Pacific               Bangladesh        275000000
..                       ...                      ...              ...
224  West and Central Africa       Senegal MCO/Guinea           250599
225  West and Central Africa      Senegal MCO/Overall              NaN
226  West and Central Africa      Senegal MCO/Senegal         17964259
227  West and Central Africa         Senegal MCO/Togo          5350416
228  West and Central Africa      West Africa Overall              NaN

     OL budget (USD)  Funds available  OP Gap/Surplus  OL Gap/Surplus
2          571982744        459981873      -555002981      -112000871
3          170701206        108155141      -122155142       -62546065
4            3864151            93897        -5724107        -3770254
5                NaN            76056           76056           76056
6          134429639        135879560      -139120440         1449921
..               ...              ...             ...             ...
224           230501            17503         -233096         -212998
225              NaN           149801          149801          149801
226          4030532          3219561       -14744698         -810971
227          5248817          3000000        -2350416        -2248817
228              NaN         49975805       -20783466        23169110

[227 rows x 7 columns]