In [1]:
import pandas as pd

In [7]:
funding = pd.read_excel("funding_overview.xlsx", sheet_name = 0, index_col = 0)

pd.options.display.float_format = '{:.0f}'.format
print(funding)

                                      Operation_Country  OP budget (USD)  \
Region
Africa Overall                                    Total              NaN
Africa Overall           Central Africa and Great Lakes              NaN
Asia and the Pacific                              Total       1014984854
Asia and the Pacific                        Afghanistan        230310283
Asia and the Pacific            Australia MCO/Australia          5818004
...                                                 ...              ...
West and Central Africa              Senegal MCO/Guinea           250599
West and Central Africa             Senegal MCO/Overall              NaN
West and Central Africa             Senegal MCO/Senegal         17964259
West and Central Africa                Senegal MCO/Togo          5350416
West and Central Africa             West Africa Overall              NaN

                         OL budget (USD)  Funds available  OP Gap/Surplus  \
Region
Africa Overall                       NaN            48551           48551
Africa Overall                       NaN            48551           48551
Asia and the Pacific           571982744        459981873      -555002981
Asia and the Pacific           170701206        108155141      -122155142
Asia and the Pacific             3864151            93897        -5724107
...                                  ...              ...             ...
West and Central Africa           230501            17503         -233096
West and Central Africa              NaN           149801          149801
West and Central Africa          4030532          3219561       -14744698
West and Central Africa          5248817          3000000        -2350416
West and Central Africa              NaN         49975805       -20783466

                         OL Gap/Surplus
Region
Africa Overall                    48551
Africa Overall                    48551
Asia and the Pacific         -112000871
Asia and the Pacific          -62546065
Asia and the Pacific           -3770254
...                                 ...
West and Central Africa         -212998
West and Central Africa          149801
West and Central Africa         -810971
West and Central Africa        -2248817
West and Central Africa        23169110

[229 rows x 6 columns]

In [5]:
funding.shape

(229, 6)

In [6]:
funding.describe()

,OP budget (USD),OL budget (USD),Funds available,OP Gap/Surplus,OL Gap/Surplus
count,1.800000e+02,1.790000e+02,2.080000e+02,2.290000e+02,2.270000e+02
mean,1.212968e+08,5.678710e+07,4.853288e+07,-5.156918e+07,-4.266854e+05
std,3.144697e+08,1.489758e+08,1.801998e+08,2.440562e+08,1.570417e+08
min,2.505990e+05,8.347900e+04,0.000000e+00,-1.615101e+09,-5.915498e+08
25%,5.230987e+06,3.135300e+06,2.389760e+05,-3.494153e+07,-9.580514e+06
50%,1.995338e+07,9.182000e+06,2.061029e+06,-7.307146e+06,-2.444994e+06
75%,7.580415e+07,3.756008e+07,2.249089e+07,-1.482752e+06,3.165410e+03
max,2.441639e+09,1.045116e+09,1.560571e+09,1.560571e+09,1.560571e+09